DATABASE_URL=./data/rsvp.db
SESSION_SECRET=generate-a-random-string-at-least-32-chars

HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

# Used for bot preview/link unfurling in Slack. Supports a comma-separated list of URLs.
PUBLIC_URL=http://localhost:4321

SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

ADMIN_ID=

PANGOLIN_ENDPOINT=
NEWT_ID=
NEWT_SECRET=
